<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rescuesupport">
    <!-- 맵관련 유저 퍼미션 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 전화 관련 유저 퍼미션 권한 추가 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 메시지 관련 유저 퍼미션 권한 추가 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 알림 관련 유저 퍼미션 권한 추가 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 인터넷 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 진동 센서 퍼미션 추가 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".KakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RescueSupport"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 메인 엑티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <!-- 행동지침 액티비티 -->
        <activity android:name=".ActionGuideActivity" /> <!-- 대피소 조회 액티비티 -->
        <activity android:name=".Fragment_search_shelter" /> <!-- 현재위치 조회 액티비티 -->
        <activity
            android:name=".MapCurrentLocation"
            android:label="MapCurrentLocation" /> <!-- 전화기능 액티비티 -->
        <activity android:name=".NearShelter"/> <!-- 가까운 대피소 길찾기 -->
        <activity android:name=".EmergencyCallActivity" /> <!-- 길찾기 -->
        <activity android:name=".GetDirections" /> <!-- 사용자 정보 -->
        <activity android:name=".MainTableUserInfoActivity" /> <!-- 즐겨찾기 웹뷰1 -->
        <activity android:name=".MainTablebtnCPRActivity" /> <!-- 구글 지도 SDK 앱키 -->
        <activity android:name=".AEDMapActivity" /> <!-- 자동제세동기-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9iGi0R-F0Bsxjc8syBxa7Gpsp_DnnZXY" /> <!-- 카카오 로그인 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaocb44deab0f22c48bc4450e0c51962e1f" />
            </intent-filter>
        </activity> <!-- 위젯 -->
        <receiver
            android:name=".WidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>
        <receiver
            android:name=".WidgetSendMessage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>